
<div class="container">
  <div class="search-form">
    <div class="input-field">
      <%= form_tag tracks_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          id:"form-start",
          placeholder: "Search for tags"
        %>
    </div>
    <div>
      <% end %>
    </div>
  </div>

  <h4><%= @tracks.count %> Tracks</h4>

  <ul class="list-unstyled list-item list-group list-group-flush">
    <% @tracks.each do |track| %>
      <li class="list-group-item"> <%= link_to track.name, track_path(track) %>
      <% if track.all_tags.split(', ').count > 0 %>
        <span class="list-tags"> <%= track.duration %> | <%= track.bpm %> BPM | <%= track.all_tags %></span>
      <% end %>
      </li>
    <% end %>
  </ul>
</div>
